body {
  color: #fff; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

.main {
  background: #eaaa85 url(../img/main-bg.png) center center no-repeat;
  background-size: cover; }

.header {
  padding-top: 28px; }

.nav {
  width: 100%; }

.nav-link {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  position: relative; }
  .nav-link:after {
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    background-color: #fce38a;
    position: relative;
    bottom: -6px;
    transition: all 0.1s ease-in-out;
    margin: 0 auto; }
  .nav-link:hover {
    color: #fce38a; }
    .nav-link:hover:after {
      width: 100%; }

.logo {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }

.header__buttons {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 4px; }

.header__button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer; }

.header__button--shop img {
  height: 15px; }

.header__button--search img {
  height: 18px; }

.main__subtitle {
  padding-top: 165px;
  color: #fff;
  font-family: "Kaushan Script";
  font-size: 72px;
  font-weight: 400;
  text-align: center; }

.main__title {
  text-align: center;
  padding-top: 42px;
  color: #fff;
  font-family: Montserrat;
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase; }

.page-line, .main__separate-line {
  width: 60px;
  height: 3px;
  margin: 70px auto 0; }

.page-line--red {
  background-color: #f38181; }

.main__separate-line {
  background-color: #fff; }

.main__learn-more {
  width: 160px;
  height: 40px;
  border: 3px solid #fff;
  display: block;
  margin: 50px auto 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center; }

.main__learn-more:hover {
  color: #fff;
  text-decoration: underline; }

.main__content-info {
  display: flex;
  margin-top: 150px; }

.main__content-block {
  width: 280px;
  margin-right: 30px;
  height: 70px;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border-top: 3px solid #fff;
  position: relative; }

.main__content-block:first-of-type:before {
  content: '';
  position: absolute;
  display: block;
  top: -3px;
  left: 0;
  width: 70px;
  height: 3px;
  background-color: #f38181; }

.main__content-block b {
  margin-right: 5px;
  font-size: 18px; }

.about {
  padding: 90px 0 110px; }

.page-subtitle {
  color: #333333;
  text-align: center;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 23px; }

.page-title {
  color: #333333;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.page-text {
  text-align: center;
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 45px; }

.about__images {
  display: flex;
  justify-content: space-between; }

.about__image-container {
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in; }

.about__hovered {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.about__image-block {
  background-color: #95e1d3;
  position: relative; }
  .about__image-block:hover .about__image-container {
    top: -5px;
    left: -5px; }
  .about__image-block:hover .about__hovered {
    opacity: 1; }

.about__hovered-icon {
  width: 32px;
  height: 24px; }

.about__hovered-text {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 10px; }

.achievements {
  background-color: #95e1d3; }
  .achievements__container {
    display: flex;
    height: 270px;
    padding: 0; }

.achievement-item {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-left: 1px solid rgba(255, 255, 255, 0.3); }
  .achievement-item:last-of-type {
    border-right: 1px solid rgba(255, 255, 255, 0.3); }
  .achievement-item__number {
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase; }
  .achievement-item__label {
    padding-top: 30px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }

.services {
  padding-top: 110px; }

.services__list {
  padding: 65px 0 70px;
  display: flex;
  flex-wrap: wrap; }

.service-item {
  flex-basis: 380px;
  display: flex;
  align-items: baseline;
  height: 120px; }
  .service-item__img {
    margin-right: 25px;
    position: relative;
    top: 15px; }
  .service-item__title {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; }
  .service-item__text {
    width: 275px;
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; }
  .service-item:nth-of-type(n + 4) {
    border-top: 1px solid #e5e5e5;
    padding-top: 40px; }

.design {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(../img/design-bg.jpg) top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 110px; }

.design__images {
  display: flex;
  justify-content: center;
  position: relative; }

.design__phone {
  position: absolute;
  bottom: -90px;
  margin-left: 200px; }
